@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  background-color: #ecf2ff;
}

.custom-header {
  background-color: #075da2;
  color: white;
}

.containerForm {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.formFecha1,
.formFecha2 {
  display: flex;
}

.smallCheckbox {
  transform: scale(0.8);
}

.smallLabel {
  font-size: 12px;
}

/* FOOTER */
.footer {
  background-color: #0d1b46;
  color: white;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.left-section h2 {
  padding: 5px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  margin: 0 auto;
}

.image-container-logo {
  max-width: 240px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

.image-container img {
  width: 40px;
  height: auto;
  padding-bottom: 25px;
}

/* FOOTER FINAL */