@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  background-color: #ecf2ff;
}

.custom-header {
  background-color: #075da2;
  color: white;
}

.containerForm {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.formFecha1,
.formFecha2 {
  display: flex;
}

.smallCheckbox {
  transform: scale(0.8);
}

.smallLabel {
  font-size: 12px;
}